<a href="https://colab.research.google.com/github/19church/19church/blob/fcom/taitai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player

0              L. Messi
1     Cristiano Ronaldo
2             A. Robben
3        Z. Ibrahimović
4              M. Neuer
5             L. Suárez
6             E. Hazard
7         R. van Persie
8     B. Schweinsteiger
9             F. Ribéry
10               Falcao
11              G. Bale
12       R. Lewandowski
13              P. Lahm
14         Sergio Ramos
15         Thiago Silva
16          David Silva
17            L. Modrić
18         J. Rodríguez
19               Neymar
20          T. Courtois
21           M. Hummels
22          A. Di María
23              M. Reus
24            T. Müller
25            S. Agüero
26              M. Özil
27                 Xavi
28             Y. Touré
29            W. Rooney
30           V. Kompany
31             M. Götze
32      Sergio Busquets
33             T. Kroos
34           K. Benzema
35            E. Cavani
36          Diego Costa
37             A. Vidal
38            H. Lloris
39        Javi Martinez
40            Juan Mata
41           J. Boateng
42              P. Čech
43             C. Tévez
44                Piqué
45             A. Turan
46           A. Sánchez
47                Oscar
48             S. Nasri
Name: short_name, dtype: object

In [ ]:
#2-4

import pandas as pd

how_many_column_do_you_want = 5

#e.g.2 = 5
#e.g.3 = 10
#e.g.4 = 8

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player.head(how_many_column_do_you_want)

          short_name
0           L. Messi
1  Cristiano Ronaldo
2          A. Robben
3     Z. Ibrahimović
4           M. Neuer

In [ ]:
#5 how many row

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player.shape[0]

49

In [ ]:
#6 max()

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player.max()

short_name    Z. Ibrahimović
dtype: object

In [ ]:
#7 min()

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player.min()

In [ ]:
#8 tail()

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player.tail(7)

    short_name
42     P. Čech
43    C. Tévez
44       Piqué
45    A. Turan
46  A. Sánchez
47       Oscar
48    S. Nasri

In [ ]:
#9 sort by descending

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player.sort_values(by = "short_name", ascending = False)

           short_name
3      Z. Ibrahimović
28           Y. Touré
27               Xavi
29          W. Rooney
30         V. Kompany
15       Thiago Silva
24          T. Müller
33           T. Kroos
20        T. Courtois
14       Sergio Ramos
32    Sergio Busquets
48           S. Nasri
25          S. Agüero
7       R. van Persie
12     R. Lewandowski
44              Piqué
42            P. Čech
13            P. Lahm
47              Oscar
19             Neymar
26            M. Özil
23            M. Reus
4            M. Neuer
21         M. Hummels
31           M. Götze
5           L. Suárez
17          L. Modrić
0            L. Messi
34         K. Benzema
40          Juan Mata
39      Javi Martinez
18       J. Rodríguez
41         J. Boateng
38          H. Lloris
11            G. Bale
10             Falcao
9           F. Ribéry
6           E. Hazard
35          E. Cavani
36        Diego Costa
16        David Silva
1   Cristiano Ronaldo
43           C. Tévez
8   B. Schweinsteiger
37           A. Vidal
45           A. Turan
46         A. Sánchez
2           A. Robben
22        A. Di María

In [ ]:
#10 sort by ascending

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

player.sort_values(by = "short_name", ascending = True)

           short_name
22        A. Di María
2           A. Robben
46         A. Sánchez
45           A. Turan
37           A. Vidal
8   B. Schweinsteiger
43           C. Tévez
1   Cristiano Ronaldo
16        David Silva
36        Diego Costa
35          E. Cavani
6           E. Hazard
9           F. Ribéry
10             Falcao
11            G. Bale
38          H. Lloris
41         J. Boateng
18       J. Rodríguez
39      Javi Martinez
40          Juan Mata
34         K. Benzema
0            L. Messi
17          L. Modrić
5           L. Suárez
31           M. Götze
21         M. Hummels
4            M. Neuer
23            M. Reus
26            M. Özil
19             Neymar
47              Oscar
13            P. Lahm
42            P. Čech
44              Piqué
12     R. Lewandowski
7       R. van Persie
25          S. Agüero
48           S. Nasri
32    Sergio Busquets
14       Sergio Ramos
20        T. Courtois
33           T. Kroos
24          T. Müller
15       Thiago Silva
30         V. Kompany
29          W. Rooney
27               Xavi
28           Y. Touré
3      Z. Ibrahimović

In [ ]:
#11-15 find name

import pandas as pd

#chage what name you want
#e.g.11 name = "Oscar"
#e.g.12 name = "Cristiano Ronaldo"
#e.g.13 name = "L. Messi"
#e.g.14 name = "W. Rooney"
#e.g.15 name = "H. Kane"

name = "H. Kane"

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

try :
  player.loc[player["short_name"] == name].iat[0,0]
  print("{} in the list".format(name))
except :
  print("{} not in the list".format(name))

H. Kane not in the list

In [ ]:
#16-19 search by index

import pandas as pd

#e.g.16 index = 27
#e.g.17 index = 25
#e.g.18 index = 44
#e.g.19 index = 33

index = 33

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

print(player.iat[index-1,0]) #because index start at 0 => 27 mean index = 26

Sergio Busquets

In [ ]:
#20 print index 9 to 14

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]

for i in range (10, 16) :
  print(player.iat[i-1,0]) #because index start at 0 => 10 mean index = 9

F. Ribéry
Falcao
G. Bale
R. Lewandowski
P. Lahm
Sergio Ramos

In [ ]:
#21 dataframe with column["short_name", "age"]

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player_age = df[["short_name", "age"]]

player_age

           short_name  age
0            L. Messi   27
1   Cristiano Ronaldo   29
2           A. Robben   30
3      Z. Ibrahimović   32
4            M. Neuer   28
5           L. Suárez   27
6           E. Hazard   23
7       R. van Persie   30
8   B. Schweinsteiger   29
9           F. Ribéry   31
10             Falcao   28
11            G. Bale   24
12     R. Lewandowski   25
13            P. Lahm   30
14       Sergio Ramos   28
15       Thiago Silva   29
16        David Silva   28
17          L. Modrić   28
18       J. Rodríguez   22
19             Neymar   22
20        T. Courtois   22
21         M. Hummels   25
22        A. Di María   26
23            M. Reus   25
24          T. Müller   24
25          S. Agüero   26
26            M. Özil   25
27               Xavi   34
28           Y. Touré   31
29          W. Rooney   28
30         V. Kompany   28
31           M. Götze   22
32    Sergio Busquets   25
33           T. Kroos   24
34         K. Benzema   26
35          E. Cavani   27
36        Diego Costa   25
37           A. Vidal   27
38          H. Lloris   27
39      Javi Martinez   25
40          Juan Mata   26
41         J. Boateng   25
42            P. Čech   32
43           C. Tévez   30
44              Piqué   27
45           A. Turan   27
46         A. Sánchez   25
47              Oscar   22
48           S. Nasri   27

In [ ]:
#22 max age

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player_age = df[["short_name", "age"]]

player_age["age"].max()

34

In [ ]:
#23 min age

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player_age = df[["short_name", "age"]]

player_age["age"].min()

22

In [ ]:
#24 index of max age

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player_age = df[["short_name", "age"]]

index = player_age[player_age['age'] == player_age["age"].max()].index.values

for i in index :
  print(i)

27

In [ ]:
#25 print player's name where index = index of max player's age

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]
player_age = df[["short_name", "age"]]

index = player_age[player_age['age'] == player_age["age"].max()].index.values

for i in index :
  print(player.iat[i, 0])

Xavi

In [ ]:
#26 index of min age

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player_age = df[["short_name", "age"]]

index = player_age[player_age['age'] == player_age["age"].min()].index.values

for i in index :
  print(i)

18
19
20
31
47

In [ ]:
#27 print player's name where index = index of min player's age

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player = df[["short_name"]]
player_age = df[["short_name", "age"]]

index = player_age[player_age['age'] == player_age["age"].min()].index.values

for i in index :
  print(player.iat[i, 0])

J. Rodríguez
Neymar
T. Courtois
M. Götze
Oscar

In [ ]:
#28 describe()

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

df.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,skill_moves
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.0,49.0,49.000000,49.000000,49.000000
mean,147793.020408,26.795918,181.734694,76.510204,86.448980,88.081633,0.0,0.0,3.897959,3.387755,3.346939
std,57126.007556,2.857589,7.873414,8.031507,2.000638,2.069991,0.0,0.0,0.653353,0.785714,1.011414
min,7826.000000,22.000000,169.000000,62.000000,84.000000,85.000000,0.0,0.0,3.000000,1.000000,1.000000
25%,143745.000000,25.000000,175.000000,72.000000,85.000000,87.000000,0.0,0.0,3.000000,3.000000,3.000000
50%,168542.000000,27.000000,182.000000,75.000000,86.000000,88.000000,0.0,0.0,4.000000,3.000000,4.000000
75%,183277.000000,28.000000,188.000000,81.000000,87.000000,89.000000,0.0,0.0,4.000000,4.000000,4.000000
max,198710.000000,34.000000,199.000000,95.000000,93.000000,95.000000,0.0,0.0,5.000000,5.000000,5.000000

In [ ]:
#29 create function

def tier(age) :
  if age < 25 :
    return "Rookies"
  elif age < 32 :
    return "Prime"
  else :
    return "Almost Retired"

In [ ]:
#30 use function tier(age)

def tier(age) :
  if age < 25 :
    return "Rookies"
  elif age < 32 :
    return "Prime"
  else :
    return "Almost Retired"

import pandas as pd

df = pd.read_csv('soccerplayerhw.csv')

player_age = df[["short_name", "age"]]

l = list()

for i in range(0, player_age.shape[0]) :
  l.append(tier(player_age.iat[
            i,
            player_age.columns.get_loc("age")
          ]
        )
      )

player_age["tier"] = l

player_age

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           short_name  age            tier
0            L. Messi   27           Prime
1   Cristiano Ronaldo   29           Prime
2           A. Robben   30           Prime
3      Z. Ibrahimović   32  Almost Retired
4            M. Neuer   28           Prime
5           L. Suárez   27           Prime
6           E. Hazard   23         Rookies
7       R. van Persie   30           Prime
8   B. Schweinsteiger   29           Prime
9           F. Ribéry   31           Prime
10             Falcao   28           Prime
11            G. Bale   24         Rookies
12     R. Lewandowski   25           Prime
13            P. Lahm   30           Prime
14       Sergio Ramos   28           Prime
15       Thiago Silva   29           Prime
16        David Silva   28           Prime
17          L. Modrić   28           Prime
18       J. Rodríguez   22         Rookies
19             Neymar   22         Rookies
20        T. Courtois   22         Rookies
21         M. Hummels   25           Prime
22        A. Di María   26           Prime
23            M. Reus   25           Prime
24          T. Müller   24         Rookies
25          S. Agüero   26           Prime
26            M. Özil   25           Prime
27               Xavi   34  Almost Retired
28           Y. Touré   31           Prime
29          W. Rooney   28           Prime
30         V. Kompany   28           Prime
31           M. Götze   22         Rookies
32    Sergio Busquets   25           Prime
33           T. Kroos   24         Rookies
34         K. Benzema   26           Prime
35          E. Cavani   27           Prime
36        Diego Costa   25           Prime
37           A. Vidal   27           Prime
38          H. Lloris   27           Prime
39      Javi Martinez   25           Prime
40          Juan Mata   26           Prime
41         J. Boateng   25           Prime
42            P. Čech   32  Almost Retired
43           C. Tévez   30           Prime
44              Piqué   27           Prime
45           A. Turan   27           Prime
46         A. Sánchez   25           Prime
47              Oscar   22         Rookies
48           S. Nasri   27           Prime